@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Doto';
    src: url('./assets/fonts/Doto-Regular.ttf') format('truetype');
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

#dashboard {
    width: 1920px;
    height: 720px;
    display: flex;
}

#speedometer-container, 
#stats-container {
    transform: scale(0.7) translateY(10%);
}

.gauge {
    aspect-ratio: 1 / 1;
    position: relative;
    width: 100%;
}

.gauge-container {
    width: 33.33%;
    transform: translateY(10%);
    text-align: center;
    position: relative;
}

.gauge-outline,
.gauge-bar {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    inset: 0;        /* or match whatever offsets you use */
    z-index: 1;      /* outline */
}
.gauge-bar { z-index: 2; }

#rx7-model {
    position: absolute;
    inset: 0;        /* or match whatever offsets you use */
    z-index: 1;      /* outline */
    width: 100%; height: 100%;
}

.gauge-labels {
    position: absolute;
    inset: 0;
    z-index: 3;
    pointer-events: none;
    overflow: visible;
    color: #ff9a00;
}

.gauge-label { 
    position: absolute; 
    transform: translate(-50%,-50%);
    font-size: 24px;
    font-weight: bolder;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.01em;
}

.gauge-label.unit {
    left: 10%;
    top: 52%;
    width: 100px;
    font-size: 14px;
    text-align: left;
}

.gauge-info-container {
    position: absolute;
    inset: 0;
    z-index: 3;
}

.gauge-info {
    position: absolute;
    top: 55%;
    height: 45%;
    width: 45%;

    text-align: right;
    padding-right: 1.0rem;

    border-top: 1px solid #ff9a00;
    border-right: 1px solid #ff9a00;

    border-bottom: none;
    border-left: none;

    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #ff9a00;
}

.data-value {
    font-family: 'Doto', sans-serif;
    display: inline-block; /* Allows width, height, and proper rounding */
    border: 2px solid #ff9a00;
    border-radius: 10px; /* Adjust the value for more or less rounding */
    padding: 3px 3px; /* Add some padding for spacing */
    margin: 0.25rem 0;
}

.data-line {
    position: relative;
    top: 0.5rem;
    line-height: 1.3;
}

.icon {
    position: relative;
    padding-top: 7px;
    width: 15%;
    aspect-ratio: 1 / 1;
}

.model-overlay {
    position: absolute;
    inset: 0;
    z-index: 3;
    pointer-events: none;
    overflow: visible;
    color: #ff9a00;
}

.model-label {
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 1.3rem;
    color: #ff9a00;
    width: 10rem;
}

#message-title {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 110%;
    width: 10%;
    left: 40%;
    color: #ff9a00;
}

#message-board {
    position: absolute;
    font-family: 'Doto', sans-serif;
    display: inline-block; /* Allows width, height, and proper rounding */
    border: 2px solid #ff9a00;
    border-radius: 10px; /* Adjust the value for more or less rounding */
    padding-top: 3%;
    z-index: 3;
    width: 33%;
    height: 7%;
    left: 33%;
    top: 80%;
    text-align: center;
    vertical-align: middle;
}